$bg-color: #eee;

$error-bg-color: #ffbaba;
$error-fg-color: #d8000c;

$info-bg-color: #bde5F8;
$info-fg-color: #00529b;

$success-bg-color: #dff2bf;
$success-fg-color: #4f8a10;

$warning-bg-color: #feefb3;
$warning-fg-color: #9f6000;
