@import 'normalize.css/normalize.css';
@import './defs.pcss';

html,
body {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: $bg-color;
  display: flex;
  margin: 0;
}

#content {
  display: flex;
  flex: 1 0 auto;
}
